body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.room {
  height: 600px;
  width: 600px;
  border: dashed 2px gray;
  position: relative;
  border-radius: 2%;
  /*background-image: url('./images/fridge.png');*/
  background-size: contain;
    background-repeat: no-repeat;
}

.feed {
  width: 600px;
  height: 200px;
  border: dashed 1px gray;
  background-color: white;
  overflow: scroll;
  padding: 2em;
}

#newMagnetForm {
  margin: 10px;
  border: dashed 2px gray;
  padding: 15px;
  border-radius: 2%;
  background-color: white;
}

#magnet-options {
  margin: 10px;
}

#magnet-preview-container {
  margin: 10px;
}

.letter {
  position: fixed;
  padding: 5px;
  height: 100px;
  width: 100px;
  border: solid 1px gray;
  color: white;
  border-radius: 10%;
  box-shadow: 1px 1px gray;
  overflow: scroll;
  font-size: 12px;
  line-height: normal;
}

.preview{
  position: relative;
}

.circle {
  border-radius: 110%;
  height: 110px;
  width: 110px;
  padding: 10px;
  text-align: center;
}

.rectangle {
  width: 150px;
}

.red {
  background-color: rgb(219,40,40);
}

.orange {
  background-color: rgb(242,113,20);
}

.yellow {
  background-color: rgb(251,190,8);
  color: black;
}

.green {
  background-color: rgb(33,186,69);
}

.blue {
  background-color: rgb(33,133,208);
}

.pink {
  background-color: rgb(224,57,151);
}

.purple {
  background-color: rgb(163,51,200);
}

.black {
  background-color: rgb(37,38,39);
}

.white {
  background-color: rgb(255,255,250);
  color: black;
}

#selected {
  box-shadow: 0 0 20px rgb(181,204,24);
}

#selected-with-link {
  box-shadow: 0 0 20px blue;
}
