body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.room {
  height: 600px;
  width: 600px;
  border: dashed 2px gray;
  position: relative;
  border-radius: 2%;
}

.feed {
  width: 600px;
  height: 200px;
  border: dashed 1px gray;
  background-color: white;
  overflow: scroll;
}

.letter {
  height: 100px;
  width: 100px;
  background-color: rgb(33,186,69);
  color: white;
  border-radius: 10%;]
  -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}
