body {


  background-image:    url('./images/kitchen.jpg');
                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background-size: cover;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 700px;
  color: rgb(133,233,255);
  opacity: 0.4;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo_small {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  color: rgb(133,233,255);
  opacity: 0.4;
  right: 5%;
  top: 10%;
  position: absolute;
  /*top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
}

.room {
  height: 600px;
  width: 800px;
  padding: 10px;
  border-bottom: solid 2px black;
  box-shadow: -1px 2px 2px black;
}

.frij {
  height: 1000px;
  width: 800px;
  position: fixed;
  background-image: url('./images/frij.png');
  background-size: 100% 100%;
}

.feed {
  width: 600px;
  height: 200px;
  border: dashed 1px gray;
  background-color: white;
  overflow: scroll;
  padding: 2em;
}

.create-form-container {
  position: fixed;
  top: 15%;
  left: 60%;
  max-width: 500px;
  min-width: 312.5px;
}

.login-form-container {
  color: white;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 10px;

}

#newMagnetForm {
  margin: 10px;
  padding: 20px;
  border-radius: 2%;
  font-weight: bold;
  color: white;
}

#magnet-options {
  margin: 10px;
}

#magnet-preview-container {
  margin: 10px;
}

.letter {
  position: fixed;
  padding: 5px;
  height: 100px;
  width: 100px;
  color: white;
  border-radius: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 12px;
  line-height: normal;
  text-shadow: 1px 1px 0 gray;
  background-size: 100% 100%;
}

.with-link::after {
    content: '';
    display: block;
    width: 70%;
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.7)100%);
    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.7)100%);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.7)100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2)50%, rgba(255, 255, 255, 0.7)100%);

    left: -100%;
    top: 0;
    height: 100%;
    position: absolute;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg);
}

.with-link:hover::after {
    left: 150%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}

.preview {
  position: relative;
}

.swatch {
  height: 20px;
  width: 40px;
  border-radius: 10%;
}

.options-button {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle {
  border-radius: 110%;
  height: 110px;
  width: 110px;
  padding: 10px;
  text-align: center;
}

.rectangle {
  width: 150px;
}

.red {
  border: solid 1px rgb(139,20,20);
  background-color: rgb(219,40,40);
  box-shadow: inset 0 1px 7px rgb(255,140,140);
}

.orange {
  border: solid 1px rgb(162,53,20);
  background-color: rgb(242,113,20);
  box-shadow: inset 0 1px 7px rgb(255,183,120);
}

.yellow {
  border: solid 1px rgb(171,110,28);
  background-color: rgb(251,190,8);
  box-shadow: inset 0 1px 7px rgb(255,255,158);
  color: black;
}

.green {
  border: solid 1px rgb(23,106,29);
  background-color: rgb(33,186,69);
  box-shadow: inset 0 1px 7px rgb(133,255,169);
}

.blue {
  border: solid 1px rgb(44,27,71);
  background-color: rgb(33,133,208);
  box-shadow: inset 0 1px 7px rgb(133,233,255);
}

.pink {
  border: solid 1px rgb(144,27,71);
  background-color: rgb(224,57,151);
  box-shadow: inset 0 1px 7px pink;
}

.purple {
  border: solid 1px rgb(83,20,120);
  background-color: rgb(163,51,200);
  box-shadow: inset 0 1px 7px rgb(255,151,255);
}

.black {
  border: solid 1px rgb(0,0,0);
  background-color: rgb(37,38,39);
  box-shadow: inset 0 1px 7px rgb(137,138,139);
}

.white {
  border: solid 1px rgb(155,155,150);
  background-color: rgb(255,255,250);
  box-shadow: inset 0 1px 5px rgb(155,155,150);
  color: black;
}

#selected {
  box-shadow: 0 0 20px blue;
}

a {
  color: navy;
}

.footer {
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: rgb(133,233,255);
  opacity: 0.4;
  text-align: right;
  z-index: -1;
}
